In [14]:
#1.Create a CSV file called basketball.csv with the following data
#2.Load this CSV file into a Pandas DataFrame
import pandas as pd
df=pd.read_csv("basketball.csv",index_col=0)
df.head()

                POS  GP  MIN  PTS
NAME
Andrew Nembhard   G  25  760  272
Anton Watson      F  25  448  206
Ben Gregg         F  16  104   40
Chet Holmgren     C  25  659  361
Drew Timme        F  25  675  450

In [16]:
import pandas as pd
df = pd.DataFrame({'NAME':G,
                   'POS': 12,
                   'MIN': 20
                  'PTS':1})

SyntaxError: invalid syntax (2844451900.py, line 5)

In [17]:
## Data Cleaning Example
import numpy as np
import pandas as pd
x = np.arange(0, 10)
ser = pd.Series(x)
ser[1] = np.NaN
ser[5] = np.NaN
nans = ser.isnull()
# count the number of missing values
print(nans.sum())
print(ser)
ser.dropna(inplace=True)
print(ser)

2
0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    NaN
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64
0    0.0
2    2.0
3    3.0
4    4.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [18]:
import numpy as np
import pandas as pd

# adapted from http://pandas.pydata.org/pandas-docs/stable/groupby.html
df = pd.DataFrame({"Gender" : ["F", "F", "M", "F", "M", "M", "M", "F"],
                   "AgeGroup" : ["OA", "A", "OA", "YA", "YA", "OA", "A", "YA"], # OA: older adult, A: adult, YA: young adult
                   "Feature1" : np.random.randn(8),
                   "Feature2" : np.random.randn(8)})
print(df)
# GroupBy object (mapping of group name -> group data frame)
gender_groups = df.groupby("Gender")
# groups attribute is a dictionary storing the mapping
print("Groups:", gender_groups.groups)
print("Female data frame")
F_df = gender_groups.get_group("F")
print(F_df)
print("Male data frame")
M_df = gender_groups.get_group("M")
print(M_df)
# confirm M_df is a data frame
print(type(M_df))
# divided the data frame into 2 groups
print(len(df) == len(F_df) + len(M_df))

  Gender AgeGroup  Feature1  Feature2
0      F       OA  0.243039  0.794639
1      F        A -1.257487 -0.938254
2      M       OA  0.822997  1.373264
3      F       YA  0.119734  1.239626
4      M       YA -0.818178 -1.053088
5      M       OA -0.990907 -1.043526
6      M        A -0.234247  0.659187
7      F       YA -0.596474  0.035162
Groups: {'F': [0, 1, 3, 7], 'M': [2, 4, 5, 6]}
Female data frame
  Gender AgeGroup  Feature1  Feature2
0      F       OA  0.243039  0.794639
1      F        A -1.257487 -0.938254
3      F       YA  0.119734  1.239626
7      F       YA -0.596474  0.035162
Male data frame
  Gender AgeGroup  Feature1  Feature2
2      M       OA  0.822997  1.373264
4      M       YA -0.818178 -1.053088
5      M       OA -0.990907 -1.043526
6      M        A -0.234247  0.659187
<class 'pandas.core.frame.DataFrame'>
True